<!DOCTYPE html>
<html >
<body ng-app="tweet">

<div ng-controller="Post">
<p>My first expression: {{ name }}</p>
<input type="text" ng-model="name" ><button ng-click="create()">post</button>
</div>

<script src="angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
<script src="bower_components/ng-twitter-api/dist/ng-twitter-api.min.js"></script>
<script src="bower_components/jsSHA/src/sha1.js"></script>
<script src="postController.js"></script>
</body>
</html>
